doctype
html
  head
    title Matchy McMatcherface P.I.
    link(rel='stylesheet', href='/main.css')
  body
    h1 Matchy McMatcherface P.I.
    h3 A Matching Game Duh: The Game
    p Share this link to have someone join you in game
    .points
    .board
    script(src="/socket.io/socket.io.js")
    script(src="/main.js")
    
