doctype
html
  head
    title Matchy McMatcherface P.I.
    link(rel='stylesheet', href='/main.css')
  body
    h1 Matchy McMatcherface P.I.
    h3 A Matching Game Duh
    div
      a(href="/game/create") start a game
    div
      a(href="/game/list") join a game
