doctype
html
  head
    title Matchy McMatcherson P.I.
    link(rel='stylesheet', href='/main.css')
  body
    h1 Matchy McMatcherson P.I.
    h3 A Matching Game Duh: The List
    ul
      for game in games
        li: a(href=`/game/${game._id}`) Game: #{game._id}
        