* {
  font-family: tahoma;
}

td {
  outline: black solid 1px;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
}
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
